<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="publicKey" value="-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: BCPG C# v1.6.1.0

mQENBFMMMxwBCADD9IKZyo6rSS7Z6b7M7JOTlZTTdL2aAFbLlt9WnJ/Xi493drP8
QGlIhVKvLmqFgh6GpZGSREnKkmNPtmab1MaCKCOGzrTKlyM8oO8c4azaRu9HOqHm
o4q6FD+OTth+Tz5tut6flEJMYD/xhrZZ0Ow63wVtmnH841Z/EvkvMQ4JRDeYBPjN
ihyCqZ4mPsvVp1skpa1+K5NonqdA+N3+RtkKmCa3VGKGFAmQnB2y9zCn249zCi5m
IpzVeW0iBDolazfylsUN9SA4kU4FV1EZ5gWaQLp1HeqLtv6kCgqug2ul1qAvoaD5
qcDTobSvwBCQZxZFW6ML+jKokfiXUxEYpbjFABEBAAG0FGFuaWwuZW5lc3RAZ21h
aWwuY29tiQEcBBABAgAGBQJTDDMcAAoJEGwWd4JeFpYq2+MH/2KzInBN8s6gZwBF
X/8y9qxe/Wa02s5dtcA0M3hFMJeE8qxqSeaGYJfg4Ymc7N7LeV2rj07ts+yzs7Ix
Ost+dznivQEIqttqFWTMauKtnvKbXdHI+ExVP6BPOWi18A6DQPL7N+BiW0gUpZI/
cWx2qJr/qEDvY2B3P8AxyJ0Gr5VFKQgUhoYMwnlPot/9nX3UZqasMeSKG47fLaq/
p9Be+XR5jNXA4z3uNGPqNhES34SPTPjrCAfNcaPZuWXPtog44OlbgZ3Y1uDtLZTm
RvGsIfmk2f+Xd6yTz/EqMjG0A+sAhTbQzbmmTXT207KmtB8a4KZoBs2EPkUa6QSj
mKvmjpE=
=B5OD
-----END PGP PUBLIC KEY BLOCK-----"/>

    <add key="privateKey" value="-----BEGIN PGP PRIVATE KEY BLOCK-----
Version: BCPG C# v1.6.1.0

lQOsBFMMMxwBCADD9IKZyo6rSS7Z6b7M7JOTlZTTdL2aAFbLlt9WnJ/Xi493drP8
QGlIhVKvLmqFgh6GpZGSREnKkmNPtmab1MaCKCOGzrTKlyM8oO8c4azaRu9HOqHm
o4q6FD+OTth+Tz5tut6flEJMYD/xhrZZ0Ow63wVtmnH841Z/EvkvMQ4JRDeYBPjN
ihyCqZ4mPsvVp1skpa1+K5NonqdA+N3+RtkKmCa3VGKGFAmQnB2y9zCn249zCi5m
IpzVeW0iBDolazfylsUN9SA4kU4FV1EZ5gWaQLp1HeqLtv6kCgqug2ul1qAvoaD5
qcDTobSvwBCQZxZFW6ML+jKokfiXUxEYpbjFABEBAAH/AwMC28/NXJsQQtNgrjjH
yd2W95RJnFoNKzjp05d5/MSQHQmPknY+wM1tb+DkVbodLy54Bq0P48Ui2NNRStoY
JwiVzwkoo+BIuunulAm7sStakzGpGsHcGJthBngLTodSswVrR6R+DEcGJF0RSzI8
zgSzeg9FlCeQ9feurXmyAfiuJBKRsNtWDYs5RgTVafg8uEVjhZ7+mUrQN5jInMRM
i1oI4LULWLAt4UZt1Bu1ax3GLA4eBsmLhAUZxFls3V4JFnolDNnGJm7U0xmR2huN
6T0EQqS2d7GSL5xRQw/UNi4TBPA8H5xaUIIMlWWRYg9XmnWxB9CPC6Fw156/mtEP
1jSx2M5ah69BHCz8zmnuApoDTl0ynDFFs2zStVkve1UeJoAbCGhA7KeDH/Zf3yKz
iVu4jlUewkr+42MUlFrhlCWS37UZNVeh1mLkpRbFQ/h6kuKlPb48sKYiWMZzkW+Y
aIaQjsGd1LAA64QN4ncFA72wPcTUlq9vFzdooBM5zYh8GVX0cJZRLg8TS3Wwb5/W
MQiPqomWyMjSLrSm8e53RhQItepW2RU3CFG3LTJINvuYKQiscDGej+f2kGdaKJLd
Ehnv07M5uoclluh2zRL8bJDGEDzT6By25CBSfh7C+NM7dv7UeAsUapo6PhYm9K10
nDosg1xvVb6XlhG2K7RZaYPxmzyqDuhcpgzfeivmXZkbnXBVeUulZPtpJBrChxAY
G628K+cZWvMBY8mQDAgrkLui1PGCmQQtlfjWgLqn/qN9QBIA+jLj441sIF7X0LRG
4CpvrGf44Mqk0PY+nE+8k+Oc6J/sFGgrBShR0VEHUmTwgEoLS0TwwD0DAa/AhucC
vCELxZYEXNaTjDVfgX+60qNLF7PQJfxblcjVN6YiAbQUYW5pbC5lbmVzdEBnbWFp
bC5jb22JARwEEAECAAYFAlMMMxwACgkQbBZ3gl4Wlirb4wf/YrMicE3yzqBnAEVf
/zL2rF79ZrTazl21wDQzeEUwl4TyrGpJ5oZgl+DhiZzs3st5XauPTu2z7LOzsjE6
y353OeK9AQiq22oVZMxq4q2e8ptd0cj4TFU/oE85aLXwDoNA8vs34GJbSBSlkj9x
bHaomv+oQO9jYHc/wDHInQavlUUpCBSGhgzCeU+i3/2dfdRmpqwx5Iobjt8tqr+n
0F75dHmM1cDjPe40Y+o2ERLfhI9M+OsIB81xo9m5Zc+2iDjg6VuBndjW4O0tlOZG
8awh+aTZ/5d3rJPP8SoyMbQD6wCFNtDNuaZNdPbTsqa0HxrgpmgGzYQ+RRrpBKOY
q+aOkQ==
=6faC
-----END PGP PRIVATE KEY BLOCK-----
"/>
  </appSettings>
</configuration>